[Unit]
Description=drachtio
After=syslog.target network.target local-fs.target

[Service]
; service
Type=forking
ExecStartPre=/bin/sh -c 'systemctl set-environment LOCAL_IP=`hostname -I`'
ExecStartPre=/bin/sh -c 'systemctl set-environment PUBLIC_IP=`curl ifconfig.me`'
ExecStart=/usr/local/bin/drachtio --daemon \
--contact sip:${LOCAL_IP}:5060;transport=udp,tcp --external-ip ${PUBLIC_IP} \
--contact sips:${LOCAL_IP}:5061;transport=tls --external-ip ${PUBLIC_IP} \
--contact sips:${LOCAL_IP}:8443;transport=wss --external-ip ${PUBLIC_IP} \

TimeoutSec=15s
Restart=always
; exec
User=root
Group=daemon
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
;LimitSTACK=240
LimitRTPRIO=infinity
LimitRTTIME=7000000
IOSchedulingClass=realtime
IOSchedulingPriority=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=89
UMask=0007
[Install]
WantedBy=multi-user.target
